extends ../layout

block content
  h1= title
  div.row
    div.col-md-4
      form(action='/class/add', method="POST")
        div.form-group
          label(for='class-name') Class Name
          input.form-control(type='text', name="name", id='class-name', placeholder='Class name', required)
        div.form-group
          label(for='class-department') Department
          input.form-control(type='text', name="department", id='class-department', placeholder='Department', required)
        div.form-group
          label(for='class-description') Class Description
          input.form-control(type='text', name="description", id='class-description', placeholder='Class description', required)
        button.btn.btn-primary(type='submit') Add
