extends ../layout

block content
  if (classroom.length === 0)
    h1 Not a valid class
  else
    h1 Edit #{classroom[0].name}
    div.row
      div.col-md-4
        form(action='/class/' + classroom[0].id +'/edit', method="POST")
          div.form-group
            label(for='class-name') Class Name
            input.form-control(type='text', name="name", id='class-name', placeholder='Class name', value=classroom[0].name, required)
          div.form-group
            label(for='class-department') Department
            input.form-control(type='text', name="department", id='class-department', placeholder='Department', value=classroom[0].department, required)
          div.form-group
            label(for='class-description') Class Description
            input.form-control(type='text', name="description", id='class-description', placeholder='Class description',value=classroom[0].description, required)
          button.btn.btn-primary(type='submit') Edit
